<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lckiss.baselib" >
    <application>
        <service
            android:name="com.lckiss.baselib.service.InstallAccessibilityService"
            android:label="@string/smart_install"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>
</manifest>
